service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
    xmlns:s="http://www.w3.org/2001/XMLSchema" 
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
    xmlns:tns="http://tempuri.org/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <!-- WSDL TYPES: definition of the data types that are used in the web service -->
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="GetTodosRequest">
                <s:complexType>
                    <s:sequence>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetTodosResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="_id" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="text" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="patient" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="completed" type="s:boolean"/>
                        <s:element minOccurs="0" maxOccurs="1" name="due" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetTodoRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetTodoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="_id" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="text" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="patient" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="completed" type="s:boolean"/>
                        <s:element minOccurs="0" maxOccurs="1" name="due" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddTodoRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="text" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="patient" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="completed" type="s:boolean"/>
                        <s:element minOccurs="0" maxOccurs="1" name="due" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddTodoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="_id" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="text" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="patient" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="completed" type="s:boolean"/>
                        <s:element minOccurs="0" maxOccurs="1" name="due" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DeleteTodosRequest">
                <s:complexType>
                    <s:sequence>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DeleteTodosResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="deleted" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DeleteTodoRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DeleteTodoResponse">
                <s:complexType>
                    <s:sequence>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateTodoRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="patient" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="completed" type="s:boolean"/>
                        <s:element minOccurs="0" maxOccurs="1" name="due" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateTodoResponse">
                <s:complexType>
                    <s:sequence>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <!-- MESSAGES: defines the data being exchanged between the service and client -->
    <wsdl:message name="GetTodosIn">
        <wsdl:part name="parameters" element="tns:GetTodosRequest"/>
    </wsdl:message>
    <wsdl:message name="GetTodosOut">
        <wsdl:part name="parameters" element="tns:GetTodosResponse"/>
    </wsdl:message>
    <wsdl:message name="GetTodoIn">
        <wsdl:part name="parameters" element="tns:GetTodoRequest"/>
    </wsdl:message>
    <wsdl:message name="GetTodoOut">
        <wsdl:part name="parameters" element="tns:GetTodoResponse"/>
    </wsdl:message>
    <wsdl:message name="AddTodoIn">
        <wsdl:part name="parameters" element="tns:AddTodoRequest"/>
    </wsdl:message>
    <wsdl:message name="AddTodoOut">
        <wsdl:part name="parameters" element="tns:AddTodoResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteTodosIn">
        <wsdl:part name="parameters" element="tns:DeleteTodosRequest"/>
    </wsdl:message>
    <wsdl:message name="DeleteTodosOut">
        <wsdl:part name="parameters" element="tns:DeleteTodosResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteTodoIn">
        <wsdl:part name="parameters" element="tns:DeleteTodoRequest"/>
    </wsdl:message>
    <wsdl:message name="DeleteTodoOut">
        <wsdl:part name="parameters" element="tns:DeleteTodoResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateTodoIn">
        <wsdl:part name="parameters" element="tns:UpdateTodoRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateTodoOut">
        <wsdl:part name="parameters" element="tns:UpdateTodoResponse"/>
    </wsdl:message>
    <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
    <wsdl:portType name="TodoSoapPort">
        <!-- The operation name must be the same as the one specified in the service object -->
        <wsdl:operation name="GetTodos">
            <wsdl:input message="tns:GetTodosIn"/>
            <wsdl:output message="tns:GetTodosOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetTodo">
            <wsdl:input message="tns:GetTodoIn"/>
            <wsdl:output message="tns:GetTodoOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddTodo">
            <wsdl:input message="tns:AddTodoIn"/>
            <wsdl:output message="tns:AddTodoOut"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteTodos">
            <wsdl:input message="tns:DeleteTodosIn"/>
            <wsdl:output message="tns:DeleteTodosOut"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteTodo">
            <wsdl:input message="tns:DeleteTodoIn"/>
            <wsdl:output message="tns:DeleteTodoOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateTodo">
            <wsdl:input message="tns:UpdateTodoIn"/>
            <wsdl:output message="tns:UpdateTodoOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
    <wsdl:binding name="TodoServiceSoapBinding" type="tns:TodoSoapPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetTodos">
            <soap:operation soapAction="GetTodos" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetTodo">
            <soap:operation soapAction="GetTodo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AddTodo">
            <soap:operation soapAction="AddTodo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteTodos">
            <soap:operation soapAction="DeleteTodos" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteTodo">
            <soap:operation soapAction="DeleteTodo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateTodo">
            <soap:operation soapAction="UpdateTodo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <!-- SERVICE:  -->
    <wsdl:service name="TodoService">
        <wsdl:port name="TodoServiceSoapPort" binding="tns:TodoServiceSoapBinding">
            <soap:address location="http://localhost:80/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>